{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="main">
        <h1>Presentation</h1>
        <p>Hej!</p>
        <p>Mitt namn är Tanja Chesnokova. Jag är född och uppvuxen i Sankt-Petersburg, Ryssland. För fyra år sedan har jag flyttat till Sverige med min son Dima. Vi bor i en liten by, Västansjö, utanför Kilafors i Hälsingland. Vi bor på en gård och har kor och höns.</p>
        <p>Programmering är ett nytt område för mig. I Ryssland fick jag utbildning som ingengör i ventilation och jobbade på en fabrik som ingengör i åtta år innan jag flyttade till Sverige. Jag bestämde mig att få en ny utbildning i Sverige och programmering blev mitt val.</p>
        <p>Jag har en hobby som jag sysslar med sedan jag har varit en skolflicka och det är att sy gosedjur. Oftast blir det presenter till mina vänner och familj. Och personen som har mest gosedjur gjorda av mig är min 8årige son Dima.</p>
        <img class="img" width="300" src="{{ asset('img/Turtle.png') }}" alt="">
    </main>

{% endblock %}
