{% extends "base.html.twig" %}

{% block title %}Quote{% endblock %}

{% block body %}
    <main class="main">
        <h1>Dagens citat</h1>
        <p>This is the current magic number: {{ number }}</p> 
    </main>

{% endblock %}
