{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="two-col-layout">
    <aside class="aside">
        <h4>Innehållsförteckning:</h4>
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
            <li><a href="#kmom03">Kmom03</a></li>
            <li><a href="#kmom04">Kmom04</a></li>
            <li><a href="#kmom05">Kmom05</a></li>
            <li><a href="#kmom06">Kmom06</a></li>
            <li><a href="#kmom10">Kmom10</a></li>
        </ul>
    </aside>
    <main class="main">
        <h1>Redovisningstexter</h1>
        <h2 id="kmom01">kmom01</h2>
        <p>Redovisning text kmom01</p>
        <h2 id="kmom02">kmom02</h2>
        <p>Redovisning text kmom02</p>
        <h2 id="kmom03">kmom03</h2>
        <p>Redovisning text kmom03</p>
        <h2 id="kmom04">kmom04</h2>
        <p>Redovisning text kmom04</p>
        <h2 id="kmom05">kmom05</h2>
        <p>Redovisning text kmom05</p>
        <h2 id="kmom06">kmom06</h2>
        <p>Redovisning text kmom06</p>
        <h2 id="kmom07/10">kmom07/10</h2>
        <p>Redovisning text kmom07/10</p>
    </main>
</div>

{% endblock %}
